// Theme Colors

$primary:       #364bc5;
$secondary:     #4c5667;
$accent:        #be5cd2;
$error:         #ff7676;
$info:          #2cabe3;
$success:       #53e69d;
$warning:       #ffc36d;

$primary-light:   #7077fc;
$primary-adark:   #002496;
$accent-light:    #f38dff;
$accent-dark:     #8b2aa0;

$mainBgUrl: 'assets/blur-bg.jpg';